DB_CONNECTION=postgresql
DB_HOST=db
DB_DATABASE=theinfitech
DB_USERNAME=theinfitech
DB_PASSWORD=theinfitech
DB_PORT=5432

ES_HOST=es
ES_SCHEME=http
ES_PORT=9200
ES_USERNAME=elastic
ES_PASSWORD=theinfitech

APP_PORT=8000

FORWARD_DB_PORT=5555
FORWARD_ES_PORT=9200


# to get a string like this run:
# openssl rand -hex 32
SECRET_KEY=8006706128cd49d04d46d80cdf4028f9c6f7c2aa229a3729e952de86c821881f
VERIFY_KEY=f93823909574b5f5a2de86680574136919bda7f45c1c095f0daec11215fa81a7

FE_URL=http://localhost:3000
APP_URL=http://localhost:8000
LP_URL=

MAIL_USERNAME="7880fbd4f9a1c8"
MAIL_PASSWORD="6ded87b5cc806d"
MAIL_PORT=2525
MAIL_SERVER="sandbox.smtp.mailtrap.io"
MAIL_FROM="test@gmail.com"
MAIL_STARTTLS=True
MAIL_SSL_TLS=False

AMOUNT_PER_DOWNLOAD=1
AMOUNT_PER_JOB_ITEM=1
HASHIDS_SALT=theinfitech

CLIENT_ID=2482177168034.5893921267361
CLIENT_SECRET=0b708e71cb2583f37f79d2316dc54da4
SLACK_HOST=https://slack.com/api/oauth.v2.access

AWS_SERVER_PUBLIC_KEY=1
AWS_SERVER_SECRET_KEY=2
AWS_REGION_NAME=3
AWS_JOB_QUEUE=4
AWS_JOB_DEFINITION=5

GOOGLE_PROJECT_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

REDIS_HOST=
REDIS_PORT=


SALESMART_GOOGLE_SERVICE_ACCOUNT=
SALESMART_GOOGLE_SHEET_URL=
